
.navbar {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.navbar .logo {
  width: 300px;
  padding-left: 1%;
}


.navbar-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  position: relative;
  color: #49557e;
  font-size: 18px;
  margin:auto;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-menu li.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #3fff4f2;
}


.navbar-cart {
  position: relative;
}
.navbar-cart .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #49557e;
  border-radius: 2px;
  transition: all 0.3s;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

